{% extends "base.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block content %}
<body>

<title>{{title}}</title>

<div class="info">
<img src="static/img/photo.jpg" style="width: 100%">
<p style="background: #ebeeef;"><b>Когда я создавала этот сайт, у меня было две причины.<br>
Первая причина — личная. Я очень люблю путешествия, и, если не могу это сделать пока в реальности, то в настоящее время, с большими возможностями интернета, всегда можно сделать это дистанционно.<br>
Вторая причина – выполнение проекта в школе программирования «Яндекс лицей». Разработать веб-приложение, изучить все нюансы и тонкости его работы – это стало поводом для создания этого сайта.<br>
Решив совместить приятное с полезным, я создала сайт «Путешествуем по России», так как считаю, что наша страна многогранна и интересна для изучения. Эта страна изумительной природы и невероятно красивых мест. В своём сайте я осветила 6 самых популярных туристических направлений. В некоторых из них я побывала лично, и смело могу рекомендовать их для посещения. Это Абхазия и Краснодарский край.<br>
Путешествие — это не просто поездка в другое место. Путешествие — это особое состояние души, это открытость миру, преодоление барьеров внутри и снаружи, это сильное желание жить и готовность меняться. Путешествия — это естественная потребность человеческой души, и ей нельзя пренебрегать. И в выборе направления путешествия вам поможет этот сайт. Приятного время препровождения!</b>
</p>
</div>
</body>
{% endblock %}