{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{ title }}</title>

<style>
.active {
  background-color: #717171;
}
.fon{
background-color:
 #fffafa;
margin: 5% 5% 5% 5%;
border-radius: 20px;
}
.rev{
    margin: 0 60% 10% 1%;
    background-color: #6600ff;
    border-radius: 20px;
}
.container img {
  float: left; /* обтекание слева */
  border-radius: 50%; /* скругляет аватарку */
  width: 90px;
}

.container span{
  font-size: 18px;
  margin-right: 15px;
}
.fon-rev{
  background-color: #f0ff0f;
  margin: 5% 5% 5% 5%;
  border-radius: 20px;
}
</style>
<body>
<div class="fon">
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 9</div>
  <img src="static/img/places/Республика Адыгея/adygeya_1.jpg" style="width:100%">
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 9</div>
  <img src="static/img/places/Республика Адыгея/adygeya_2.jpg" style="width:100%">
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 9</div>
  <img src="static/img/places/Республика Адыгея/adygeya_3.jpg" style="width:100%">
</div>
<div class="mySlides fade">
  <div class="numbertext">4 / 9</div>
  <img src="static/img/places/Республика Адыгея/adygeya_4.jpg" style="width:100%">
</div>
<div class="mySlides fade">
  <div class="numbertext">5 / 9</div>
  <img src="static/img/places/Республика Адыгея/adygeya_5.jpg" style="width:100%">
</div>
<div class="mySlides fade">
  <div class="numbertext">6 / 9</div>
  <img src="static/img/places/Республика Адыгея/adygeya_6.jpg" style="width:100%">
</div>
<div class="mySlides fade">
  <div class="numbertext">7 / 9</div>
  <img src="static/img/places/Республика Адыгея/adygeya_7.jpg" style="width:100%">
</div>
<div class="mySlides fade">
  <div class="numbertext">8 / 9</div>
  <img src="static/img/places/Республика Адыгея/adygeya_8.jpg" style="width:100%">
</div>
<div class="mySlides fade">
  <div class="numbertext">9 / 9</div>
  <img src="static/img/places/Республика Адыгея/adygeya_9.jpg" style="width:100%">
</div>
</div>

<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 3000);
}
</script>
<div class="info">
    {{ information }}
</div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=40d1649f-0493-4b70-98ba-98533de7710b&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [44.608865, 40.098548],
                zoom: 7
            });
        }
    </script>
    <div id="map" style="width: 400px; height: 300px; margin: 0 1% 1% 65%;"></div>
    <div style="margin: 5% 1% 1% 50%;">
        <img src="{{ weather[2] }}"/>
    {{ weather[0] }}
    {{ weather[1] }}
    </div>
        <form action="" method="post">
        <div class="rev">
        {% if not current_user.is_authenticated %}
            <div class="alert alert-danger" role="alert">
                <a>Чтобы оставлять отзывы, вы должны авторизоваться</a>
            </div>
        {% endif %}

        {% if current_user.is_authenticated %}
           {% for i in data %}
                  <div class="container">
                      <img src={{i[2]}} alt="avatar">
                      <div style="margin: 0 20% 0 0">
                      <p><span>{{ i[0] }}</span></p>
                      <p>{{i[1]}}</p>
                      </div>
                  </div>
            {% endfor %}
            <p>{{ form.text(class="form-control", placeholder="Текст", style="margin: 0 0 2% 0;") }}</p>
            <p>{{ form.submit(type="submit", style="margin: 0 0 2% 0;") }}</p>
        {% endif %}
        </div>
    </form>
</div>
</body>
{% endblock %}