{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<a href="/abxazia"><button><img class="places_photos" src="static/img/Abxazia.png"></button></a>
<a href="/kabardino_balkaria"><button><img class="places_photos" src="static/img/Kabardino-Balkaria.png"></button></a>
<a href="/krasnodarskiy_kray"><button><img class="places_photos" src="static/img/Krasnodarskiy_kray.png"></button></a>
<a href="/crimea"><button><img class="places_photos" src="static/img/Crimea.png"></button></a>
<a href="/karelia"><button><img class="places_photos" src="static/img/Karelia.png"></button></a>
<a href="/adygeya"><button><img class="places_photos" src="static/img/Adygeya.png"></button></a>
{% endblock %}